@page
@model LearnHubBO.Pages.CoursCategories.CreateModel

@{
    ViewData["Title"] = "Créer une catégorie";
}

<h1>Créer une catégorie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CoursCategorie.NomCoursCategorie" class="control-label">Nom de la catégorie</label>
                <input asp-for="CoursCategorie.NomCoursCategorie" class="form-control" />
                <span asp-validation-for="CoursCategorie.NomCoursCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <h3>Ou</h3>
        <hr />
        <h4>Importer CSV</h4>
        <form asp-page-handler="Import" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="csvFile">Télécharger le fichier CSV</label>
                <input type="file" name="csvFile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Importer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour à la liste des catégories</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
