@page
@model LearnHubBO.Pages.CoursCategories.DetailsModel

@{
    ViewData["Title"] = "Details d'une catégorie";
}

<h1>Details d'une catégorie</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nom de la catégorie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoursCategorie.NomCoursCategorie)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CoursCategorie.IdCoursCategorie">Modifier</a> |
    <a asp-page="./Index">Retour à la liste des catégories</a>
</div>
