@page
@model LearnHubBO.Pages.CoursCategories.EditModel

@{
    ViewData["Title"] = "Modifier une catégorie";
}

<h1>Modifier une catégorie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CoursCategorie.IdCoursCategorie" />
            <div class="form-group">
                <label asp-for="CoursCategorie.NomCoursCategorie" class="control-label">Nom de la catégorie</label>
                <input asp-for="CoursCategorie.NomCoursCategorie" class="form-control" />
                <span asp-validation-for="CoursCategorie.NomCoursCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retour à la liste des catégories</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
