@page
@model LearnHubBO.Pages.CoursCategories.IndexModel

@{
    ViewData["Title"] = "Liste des catégories de cours";
}

<h1>Liste des catégories de cours</h1>

<p>
    <a asp-page="Create">Créer Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom de la catégorie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CoursCategorie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomCoursCategorie)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdCoursCategorie">Modifier</a> |
                    <a asp-page="./Details" asp-route-id="@item.IdCoursCategorie">Détails</a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdCoursCategorie">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
