@page
@model LearnHubBO.Pages.Formateurs.DetailsModel

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails d'un formateur</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formateur.NomFormateur)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Formateur.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Formateur.IdFormateur">Modifier</a> |
    <a asp-page="./Index">Retour à la liste des formateurs</a>
</div>
