@page
@model LearnHubBO.Pages.Formateurs.LogoutModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Déconnexion - Formateur - Learn </title>
</head>
<body>
    <p>Vous êtes déconnecté. Redirection vers la page de connexion...</p>
</body>
</html>

