@page
@model LearnHubBO.Pages.Courses.CreateModel

@{
    ViewData["Title"] = "Créer un cours";
}

<h1>Créer un cours</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cours.TitreCours" class="control-label">Titre</label>
                <input asp-for="Cours.TitreCours" class="form-control" />
                <span asp-validation-for="Cours.TitreCours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cours.IdCoursCategorie" class="control-label">Catégorie</label>
                <select asp-for="Cours.IdCoursCategorie" class="form-control" asp-items="ViewBag.IdCoursCategorie"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cours.Description" class="control-label">Description</label>
                <textarea id="tiny" asp-for="Cours.Description" class="form-control" style="width:1000px;"></textarea>
                <span asp-validation-for="Cours.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour à la liste de vos cours</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
